
<h1>Welcome to FoodXPress</h1>

<%= "Welcome #{@user.email}, Salutations! Your amount of $#{@user.cart_total_price} is paid. We will deliver the products shortly." %>

<p>From,</p>
<p>The dedicated FoodXPress Delivery Team</p>
