
<h1>Welcome to FoodXPress</h1>

<%= "Welcome #{@user.email}, Salutations! We regret to inform you that your amount of $#{@user.cart_total_price} remains unpaid. Please check with your card service provider for more information." %>

<p>From,</p>
<p>The dedicated FoodXPress Delivery Team</p>
