
<div class="container">
  <div class="row">
    <div class="col-md-7 mt-3">
      <%# image_tag @product.image, class: "img-fluid rounded mx-auto"%>
    </div>
    <div class="col-md-5 mt-3">
      <h1>Restaurant</h1>
       <h2><%= @restaurant.stall_name %></h2>
      <div>
      <% if Relationship.find_by(user: current_user, restaurant: @restaurant) %>
        <%= link_to 'Unfollow this Restaurant !', unfollow_restaurant_follow_path(@restaurant), method: :delete, class: "btn btn-success" %>
      <% else %>      
        <%= link_to 'Follow this Restaurant !', follow_restaurant_follow_path(@restaurant), method: :post, class: "btn btn-success" %>
      <% end %>
        <%= Relationship.count %>
      </div>
      
    </div>
  </div>
 