
<div class="container">
  <div class="row">
    <div class="col-md-7 mt-3">
      <%# image_tag @product.image, class: "img-fluid rounded mx-auto"%>
    </div>
    <div class="col-md-5 mt-3">
      <h1>Restaurant</h1>
       <h2><%= @restaurant.stall_name %></h2>
      <div>

      
        <%# @restaurant.products.each do |product| %>
          <%# product.name%>
        <%# end %>
      </div>
      
    </div>
  </div>
 