@import "bootstrap";

body {
  background-color: #f3f3f3
}

.breadcrumb {
  padding: 0.75rem 0.2rem;
  margin-bottom: 0rem;
  background-color: #f3f3f3;
}

.picture {
  height: 155px;
  width: 155px;
}