@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #f3f3f3
}

.breadcrumb {
  padding: 0.75rem 0.2rem;
  margin-bottom: 0rem;
  background-color: #f3f3f3;
}

.picture {
  height: 125px;
  width: 125px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white
}
