<% @products.each do |product| %>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <p><%= link_to product_path(product) do %>
        <%= image_tag product.image, class: "card-img-top" %> 
      <% end %></p>
        <h6 class="card-title text-center"><%= link_to product.name, product_path(product) %></h6>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <h5><%= number_to_currency(product.price) %></h5>
      </div>
    </div>
  </div>
<% end %>