<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <ul class="list-group">
      <li class="list-group-item sidebar-color">Categories</li>
        <% @categories.each do |category| %>
          <li class="list-group-item sidebar-color"><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <div id="load-more" class="row">
      <%= render 'product' %>
    </div>
    <div class="row mt-3 pb-4 d-flex justify-content-center">
      <div class="col-md-4 ">
        <%= link_to_next_page @products, 'Load More', id: "load_more_link", class: "btn btn-success btn-block", remote: true  %>
      </div>
  </div>
  </div>
  
</div>



